@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  border-radius: 14px;
  box-shadow: 0 0 30px #cccccc;
}

.wish-info {
  border-bottom: #d2d2d2 solid 2px;
}

.wish-info p {
  color: #777777;
}

.status {
  font-size: 18px;
  font-weight: bold;
}

.feature {
  font-weight: bold;
  color: black;
}

.looking {
  color: #29af13;
}

.block {
  padding: 20px;
}

.block-title {
  margin-bottom: 20px;
  vertical-align: center;
}

.block-title img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.block-title div {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}

.professional-skills {
  border-bottom: #d2d2d2 solid 2px;
}

.technologies {
  margin-left: 30px;
  margin-right: 30px;
}

.technology {
  display: inline-grid;
  justify-content: center;
  justify-items: center;
  width: fit-content;
  height: fit-content;
  grid-template-columns: auto auto;
  grid-template-rows: 1.5fr 1fr;
  margin-top: 10px;
}

.technology:hover {
  background-color: #edfbff;
  border-radius: 10px 10px 10px 10px;
  transition: 0.4s;
}

.technology-title {
  justify-self: start;
  align-self: center;
  margin-right: 10px;
}

.technology-level {
  width: 100%;
  text-align: center;
  font-size: 10px;
  grid-column: 1/3;
  margin: 0 5px 0 5px;
  border-top: 1px solid darkgray;
  border-radius: 0 0 6px 6px;
}

.technology-icon {
  display: block;
  text-align: right;
  justify-self: end;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  margin-bottom: 2px;
}

.high-level {
  background-color: #f49cff;
}

.middle-level {
  background-color: #ffbb98;
}

.start-level {
  background-color: #9fff95;
}

.about-myself p {
  margin-left: 30px;
}

.big-avatar {
  width: 240px;
  border-radius: 150px;
  margin-bottom: 30px;
}

.contacts img {
  width: 20px;
  height: 20px;
}

.contacts a {
  margin-left: 10px;
}

td {
  vertical-align: top;
}

.additional-info {
  padding-top: 0;
}

.additional-info p {
  color: #777777;
}

.additional-info .feature {
  margin-top: -10px;
  margin-bottom: 30px;
  color: black;
}

.main-info {
  border-left: #d2d2d2 solid 2px;
}